<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{ISO8601} %p %C{1} [%t] %m%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>