<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://home.byu.edu/jnlpapp/schemas/log4j.dtd">
<!--
  | For more configuration infromation and examples see the Jakarta Log4j
  | owebsite: http://jakarta.apache.org/log4j
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
		debug="false">

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="ALL"/>

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
					value="%d{ISO8601} %-5p %t [%c{1}] %m%n"/>
		</layout>
	</appender>

	<!-- ======================================================== -->
	<!-- Limit categories: The possible values for                -->
	<!-- priority are OFF, INFO, WARN, ERROR, FATAL, DEBUG, ALL   -->
	<!-- ======================================================== -->

	<category name="edu">
		<priority value="WARN"/>
	</category>

	<category name="edu.byu.edge">
		<priority value="INFO"/>
	</category>

	<category name="edu.byu.edge.test">
		<priority value="DEBUG"/>
	</category>

	<category name="edu.byu.edge.util">
		<priority value="DEBUG"/>
	</category>

	<category name="com">
		<priority value="WARN"/>
	</category>

	<category name="net">
		<priority value="WARN"/>
	</category>

	<category name="org">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.http">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.http.wire">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.cxf">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.cxf.interceptor">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.cxf.interceptor.LoggingInInterceptor">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.cxf.interceptor.LoggingOutInterceptor">
		<priority value="WARN"/>
	</category>

	<category name="org.springframework">
		<priority value="WARN"/>
	</category>

	<category name="org.hibernate">
		<priority value="WARN"/>
	</category>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<root>
		<appender-ref ref="CONSOLE"/>
	</root>

</log4j:configuration>
